.anime__episode__container{
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    padding: 3rem 5rem;

    .anime__episode{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        width: 30vw;
        padding: 1rem;

        li{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 30px;
            height: 30px;
            padding: .5rem;
            font: normal 400 15px/15px Roboto;
        }
    }
}