.carousel__container{
  .carousel__card{
    .anime__card{
      height: 100vh;

      .anime__poster{
        height: 100%;
        width: 100vw;
        background-position:center;
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        backface-visibility: hidden;
        transform: translateZ(0);
        background-color: var(--backgroundColor);
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0rem 5rem;
        gap: 2rem;

        .anime__title{
          font:normal 600 2rem/2rem Roboto;
        }
        .anime__description{
          font:normal 400 1.2rem/1.5rem Roboto;
          width: 30vw;
        }

        button{
          border: none;
          background-color: var(--primaryColor);
          width: 20vw;
          padding: 1rem .5rem;
          font:normal 500 1.2rem/1.5rem Roboto;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          gap: 1rem;
        }
      }
    }
  }
}


.slick-next{
  display: none!important;
}
.slick-prev{
  display: none!important;
}