@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --backgroundColor: #222;
    --textColor: #ffffff;
  }
body{
    scroll-behavior: smooth;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}